bg = {
  body          :     #f58e54,
  parrot        :     #6bcc59,
  parrotHead    :     #e4fa40,
  parrotEye     :     #1f404f,
  parrotNose    :     #f69358,
  parrotNostril :     #6ab1ff,
  parrotTail    :     #68c956,
  parrotLump    :     #17784f
}

body
  background-color: bg['body'];
.parrot
  width 125px
  height 185px
  margin auto
  position relative
  left 0
  top 110px
  animation waggon 1s linear infinite alternate
  &Body
    width 100%
    height 100%
    border-radius 150px 150px 0 220px
    background: bg['parrot']
  &Head
    width 100%
    height 125px
    border-radius 50%
    position relative
    animation head 20s linear infinite
    animation-delay 1s
    background: bg['parrotHead']
    &>.eye
      width 12px
      height 12px
      background: bg['parrotEye']
      border-radius 50%
      position absolute
      top 50%
      transform translateY(-100%)
      animation 5s wink linear infinite
      &:after
        content ''
        width 6px
        height 6px
        background #fff
        border-radius 50%
        display block
      &Left
        left 0
      &Right
        right 50px
  &Nose
    width 35px
    height 35px
    position absolute
    top 70px
    left 20px
    border-radius 0 0 0 100%
    animation nose 10s linear infinite
    background: bg['parrotNose']
    &>.nostril
      width 50%
      height 19px
      position absolute
      top -10px
      background: bg['parrotNostril']
      &:after
        content: ""
        width 5px
        height 5px
        position absolute
        left 50%
        top 50%
        border-radius 50%
        transform translate(-50%, -50%)
        background #1f414d
      &Left
        border-radius 50% 0 50% 50%
        left 0
      &Right
        border-radius 0 50% 50% 50%
        right 0
  &Tail
    width 30px
    height 170px
    position absolute
    right 0
    bottom -170px
    border-radius 0 0 0 100% / 0 0 0 25%
    background: bg['parrotTail']
    &:after
      width: 15px;
      height: 0;
      content ""
      position absolute
      top 30px
      left 0
      border-top: 15px solid #17784f;
      border-left: 15px solid transparent;
      border-right: 0 solid transparent;
  &Lump
      width 90px
      height 110px
      position absolute
      right 0
      bottom 0
      overflow hidden
      &Container
        display table
        width 100%
        margin-bottom 5px
        position relative
        right -15px
        &:nth-child(4), &:nth-child(6)
          right -5px
      &-item
        float right
        width 20px
        height 10px
        background: bg['parrotLump']
        margin-right: 2px;
        border-radius  0 0 100% 100% / 0 0 200% 200%
.rocker
  width 265px
  height 364px
  position absolute
  left 50%
  top -150px
  margin-left (-265px/2)
  &Rope
    width 5px
    background #f9c0ad
    height: 100%
    position absolute
    &--left
      left 30px
    &--right
      right 30px
  &Pillow
      width 100%
      height 30px
      position absolute
      bottom 0
      background #deca51
      border-radius 30px / 30px
      &:after
        content ""
        width 30px
        height 30px
        background #fff9bf
        box-sizing border-box
        border-radius 50%
        border 4px solid #d8e282
        position absolute
        right 0

@keyframes waggon
  100%
    transform rotateX(-10deg)

@keyframes wink
	0%
		height 12px
	2%
		height 0
	3%
		height 12px
	100%
		height 12px

@keyframes nose
    0%
      height 35px
    2%
      height 30px
    3%
      height 35px
    4%
      height 30px
    5%
      height 35px
    100%
      height 35px

@keyframes head
  0%
	  transform rotate(0)
  1%
    transform rotate(15deg)
  20%
    transform rotate(15deg)
  21%
    transform rotate(0)
  65%
    transform rotate(0)
  66%
    transform rotate(-10deg)
  80%
    transform rotate(-10deg)
  81%
    transform rotate(0)
  100%
    transform rotate(0)
